<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="fixos/layout :: head(~{ :: .titulo},~{})">
<meta charset="UTF-8">
<title class="titulo">Listagem de Obras</title>

</head>

<body>
	<!--barra fixa em cima user-->
	<th:block th:include="fixos/navBar"></th:block>

	<div class="row no-gutters">
		<div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
			<!--side bar-->
			<th:block th:include="fixos/sideBar"></th:block>
		</div>
		<div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 j-main">
			<!-- conteudo da pagina aqui -->
			<div class="d-flex justify-content-center w-100 p-4">
				<div class="d-flex w-100">
					<div class="card w-100 mt-2 p-2" style="background-color: rgb(14,28,47)">
						<label class="jef-card-text-item mb-2">Lista de obras</label>
						<table class="table table-sm table-hover text-white">
							<thead style="background-color: rgb(6, 19, 37); color: rgb(166, 255, 249)">
								<tr>
									<th>CD</th>
									<th>Situação</th>
									<th>Controle</th>
									<th>Cliente</th>
									<th>Data início</th>
									<th>Equipe</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="obra : ${obra}">
									<td><a><span th:text="${obra.cd}"> </span></a></td>
									<td><span th:text="${obra.situacao}"> </span></td>
									<td><span th:text="${obra.controle}"> </span></td>
									<td><span th:text="${obra.cliente}"> </span></td>
									<td><span th:text="${obra.data_inicio}"> </span></td>
									<td><span th:text="${obra.getFuncionarios().size()}"> </span></td>
									<td><a data-toggle="tooltip" data-placement="top" title="Editar Obra" th:href="@{/obras/detalhesObra/{cd}(cd = ${obra.cd})}"><i class="fas fa-edit jef-icones-tabelas-edit"></i></a></td>
									<td><a data-toggle="tooltip" data-placement="top" title="Deletar Obra" th:onclick ="showModalAviso('Tem certeza que deseja excluir a obra:',[[${obra.cd}]] +' '+[[${obra.controle}]],'/obras/deletarObra/[[${obra.cd}]]')"><i	class="fas fa-trash-alt jef-icones-tabelas-remove"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<!--  fim conteudo -->
		</div>
	</div>
	
	<!-- scripts globais -->
	<th:block th:replace="fixos/layout :: scripts"></th:block>
	
	<!-- script modal aviso customizado -->
	<th:block th:replace="fixos/componentes :: modal_aviso"></th:block>	
	
	<script th:inline="javaScript">
		var x = /*[[${obra}]]*/ '';
		console.log(x)
	</script>
</body>
</html>