
<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="fixos/layout :: head(~{ :: .titulo}, ~{ :: .script})">
<meta charset="UTF-8">
<title class="titulo">DashBoard</title>
<!-- graficos dashboard -->
<script
	class="script"
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
	integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
	crossorigin="anonymous"></script>
</head>

<body>

	<th:block th:include="fixos/layout :: esqueleto(~{ :: .conteudo})">
		<!-- conteudo da pagina dentro do esqueleto -->	
		<th:block class="conteudo">
			<div class="d-flex flex-column"> 
				<!-- conteudo da pagina aqui -->
				<th:block class="fixos/componentes :: modal_aviso('Error Você não esta autorizado')"></th:block>
				<!--  fim conteudo -->
			</div>
		</th:block>
	</th:block>
	<!-- script modal aviso customizado -->
	<th:block th:replace="fixos/componentes :: modal_aviso"></th:block>	
	<th:block th:replace="fixos/layout :: scripts"></th:block>
	<!-- script da pagina  -->

</body>
</html>